// Generate Sass color array
// Generate SASS Color array
$colors: (
	main-orange: #ef6c00,
	main-green: #3b8c06,
	deep-green: #046963,
	main-shine-orange: #ff7b0e,
	main-shine-green: #1bff3d,
	red: #ff4136,
	blue: #0074d9,
	yellow: #ffdc00,
	orange: #ff851b,
	green: #2ecc40,
	purple: #b10dc9,
	pink: #ff4136,
	brown: #795548,
	gray: #aaaaaa,
	black: #111111,
	white: #ffffff,
	transparent: rgba(0, 0, 0, 0),
	dark: #333333,
	light: #eeeeee,
	dark-gray: #777777,
	light-gray: #cccccc,
	dark-blue: #00008b,
	light-blue: #00bfff,
	dark-green: #006400,
	light-green: #90ee90,
	dark-red: #8b0000,
	light-red: #ff6347,
	dark-yellow: #ffd700,
	light-yellow: #ffffe0,
	dark-orange: #ff8c00,
	light-orange: #ffa500,
	dark-purple: #800080,
	light-purple: #ee82ee,
	dark-pink: #ff1493,
	light-pink: #ffb6c1,
	dark-brown: #a52a2a,
	light-brown: #deb887,
	dark-gray-2: #8d8c8c,
	light-gray-2: #fbfafa,
	dark-blue-2: #00008b,
	light-blue-2: #00bfff,
	dark-green-2: #006400,
	light-green-2: #90ee90,
	dark-red-2: #8b0000,
	light-red-2: #ff6347,
	dark-yellow-2: #ffd700,
	light-yellow-2: #ffffe0,
	dark-orange-2: #ff8c00,
	light-orange-2: #ffa500,
	dark-purple-2: #800080,
	light-purple-2: #ee82ee,
	dark-pink-2: #ff1493,
	light-pink-2: #ffb6c1,
	dark-brown-2: #a52a2a,
	light-brown-2: #deb887,
	dark-gray-3: #636262,
	light-gray-3: #f9f9f9,
	dark-blue-3: #00008b,
	light-blue-3: #00bfff,
	dark-green-3: #006400,
	light-green-3: #90ee90,
	dark-red-3: #5a0202,
	light-red-3: #ff6347,
	dark-yellow-3: #ffd700,
	light-yellow-3: #ffffe0,
	dark-orange-3: #ff8c00,
	light-orange-3: #ffa500,
	dark-purple-3: #800080,
	light-purple-3: #ee82ee,
	dark-pink-3: #ff1493,
	light-pink-3: #ffb6c1,
	dark-brown-3: #a52a2a,
	light-brown-3: #deb887,
	dark-gray-4: #414040,
	light-gray-4: #cccccc,
	dark-blue-4: #00008b,
	light-blue-4: #2196f3,
	dark-green-4: #006400,
	light-green-4: #90ee90,
	dark-red-4: #410101,
	light-red-4: #ff6347,
	dark-yellow-4: #ffd700,
	light-yellow-4: #ffffe0,
	dark-orange-4: #ff8c00,
	light-orange-4: #ffa500,
	dark-purple-4: #800080,
	light-purple-4: #ee82ee,
	dark-pink-4: #ff1493,
	light-pink-4: #ffb6c1,
	dark-brown-4: #a52a2a,
	light-brown-4: #deb887,
	dark-gray-5: #c4c2c2,
	light-gray-5: #f4f4f4,
	dark-blue-5: #00008b,
	light-blue-5: #4be3ff,
	dark-green-5: #006400,
	light-green-5: #90ee90,
	dark-red-5: #8b0000,
	light-red-5: #ff6347,
	dark-yellow-5: #ffd700,
	light-yellow-5: #ffffe0,
	dark-orange-5: #ff8c00,
	light-orange-5: #ffa500,
	// Special
	spe-red: #bd1818,
	spe-white: #f2f7ff,
	spe-grey-1: #5b5b5b,
	spe-grey-2: #3a3946,
	spe-blue-1: #1f669b,
	// Core Lite
	spe-core-blue-1: #063854,
	spe-core-blue-2: #216085,
	spe-core-blue-3: #0b73aa,
	spe-core-grey-1: #504f63,
	spe-core-grey-2: #1f1e38c7,
	spe-core-white-1: #fdfdfd,
	// Unique
	spe-unique-dark-1: #002438,
	// Wordpress
	wp-grey-1: #f0f0f1,
);

// Sass map to return color code, pass color name
@function color($color_name, $map: $colors) {
	@return map-get($map, $color_name);
}
