// Include Color
@import "_incl/colors";
// Include
@import "_incl/incl";
// Pre Functions
@import "_incl/func";

/**
** Todo:
** 1: Vormia Includes
*/
@include colorsCode();

/**
** Todo:
** 2: Layout & Position
*/
html,
body {
  font-family: "Poppins", sans-serif;
  .error-message {
    & {
      .bi-asterisk,
      .fa-asterisk {
        color: color(red);
        font-size: 10px;
      }
    }
  }

  label.required:after {
    content: "*";
    margin-left: 0.2rem;
    color: color(red);
  }

  /**
		Error
		**/
  span.error,
  p.error,
  span.error > p {
    font-size: 12px;
    font-weight: 400;
    color: color(red);
    font-style: italic;
  }
}

/**
* Todo:: Make Sticky Menu
*/
div.chld-menu {
  border-right: 1px solid color(dark-gray) !important;
  //position: sticky;
  //top: 0;
  //z-index: 999;
  background-color: color(white);
  height: 100vh;
  position: fixed;
  z-index: 90;
  width: 70px;

  // Side Logo
  div.chld-side-one {
    div.chld-logo-top {
      a {
        img {
          height: auto !important;
          width: 70px !important;
          position: fixed !important;
        }
      }
    }

    div.chld-logo-side {
      img {
        position: fixed;
        top: 15%;
        right: 20%;
      }
    }
  }

  // Menu
  div.chld-main-menu {
    // Logo
    div.chld-logo-main {
      width: 100%;
      margin-top: -15%;
      // padding-left: 15%;
      // padding-right: 15%;
    }
    // Menu -Nav
    position: fixed !important;
    z-index: 20 !important;
    background-color: color(white) !important;
    // Make the height be full height
    height: 100% !important;

    margin-left: 70px;
    width: 280px;
    ul {
      list-style: none !important;
      margin-left: 2% !important;
    }

    ul.chld-ul-nav {
      position: fixed !important;
      margin-left: 2% !important;
      padding-left: 0px !important;
      top: 33vh !important;
      overflow-y: scroll;
      height: 67%;
      overflow-x: hidden;
      scrollbar-width: none;

      li {
        margin: 0;
        float: none;
        padding: 10px 20px 10px 0;
        width: 250px;
        word-break: break-all;
        position: initial;
        a {
          // font-family: "Roboto", sans-serif !important;
          // font-style: normal !important;
          // font-weight: 600 !important;
          // font-size: 40px !important;
          line-height: 32px !important;
          color: color(black); //#a7217b
          i {
            position: absolute;
            right: 17px;
            margin-right: 0px;
            padding-top: 6px;
          }
          &:hover {
            color: color(light-blue);
          }
        }
      }

      li {
        margin-bottom: 1%;
        a {
          font-size: 2rem !important;
        }
        a.skew-btn {
          font-size: 2rem !important;
        }
      }

      li.menu-item-has-children {
        &::after {
          content: "\f105"; // f107
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          position: absolute;
          right: 17px;
          margin-right: 0px;
          padding-top: 0px;
          font-size: 2rem;
        }

        // UL
        ul.menu-item-has-children {
          display: none;
          position: inherit;
          width: 100%;
          z-index: 1;
          li {
            a {
              color: color(black);
              &:hover {
                color: color(light-blue);
              }
            }
          }
        }
      }

      // Active
      .show-children {
        display: block !important;
      }
      .is-active {
        a {
          color: color(light-blue);
        }
        a:active {
        }

        &::after {
          content: "" !important;
          // content: "\f107" !important;
          // right: 15px !important;
          // position: absolute;
          // padding-top: 5px;
          // font-family: "Font Awesome 5 Free";
          // font-weight: 900;
          // position: absolute;
          // right: 17px;
          // margin-right: 0px;
          // padding-top: 0px;
          // font-size: 2rem;
        }
        &::before {
          content: "\f107" !important;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          position: absolute;
          right: 15px !important;
          margin-right: 0;
          font-size: 2rem;
          padding-top: 5px;
        }
      }
      .sidebar-socials {
        text-align: center;
        margin-left: -2%;
        a.fab {
          padding: 10px;
        }
      }
    }
  }
  div.side-image {
    a {
      text-decoration: none !important;
    }
    img {
      margin: 0;
      position: absolute;
      //top: 45%;
      top: 52%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  // Icon
  div.chld-side-footer {
    height: 9.5vh;
    border-bottom: 1px solid;

    div.chld-nav-icon {
      // position at the bottom
      position: relative;
      z-index: 50;
      // margin-top: 30%;
      top: 2vh;
      margin-left: 20%;
      // Put it at the bottom
      i {
        font-size: 3em;
        color: color(black);
        &:hover {
          cursor: pointer !important;
        }

        &.fa-close {
          color: color(red);
        }
      }
    }
  }
}

.d-none {
  display: none;
}

/**
*Todo::Push main page to right
*/
div#body-wrap {
  width: 96% !important;
  // width: 70% !important;
  float: right !important;
  div#wrap {
    //margin-left: 5% !important;
    // Top Nav
    header {
      div.wrap-nav {
        display: none !important;
      }
    }
  }
  // div {
  //   z-index: 1 !important;
  // }

  // Mainmenu
  div.main-menu {
    ul.nav {
      &.navbar-nav {
        width: 60% !important;
      }
    }
  }
}
// top cards
// div.leaf_row {
//   div.vc_custom_1472739040766 {
//     padding-left: 60px !important;
//   }
//   div.vc_custom_1519818551953 {
//     padding-left: 60px !important;
//   }
// }
// .vc_row {
//   padding-left: 65px !important;
// }

// div.leaf_row.dark-div {
//   div.vc_row {
//     padding-left: 80px !important;
//   }
// }
// @media screen and (max-width: 1171px) {
//   .footer-inner {
//     padding-left: 50px !important;
//   }
// }
// rs-fullwidth-wrap#rev_slider_1_1_forcefullwidth {
//   rs-module-wrap#rev_slider_1_1_wrapper {
//     padding-left: 60px !important;
//   }
// }

// Apply To Any Table
table {
  tbody > tr {
    td {
      a {
      }
    }
    &:hover td {
      background-color: color(client-main) !important;
    }
  }
}
