// Include Color
@import "_incl/colors";
// Include
@import "_incl/incl";
// Pre Functions
@import "_incl/func";

/**
** Todo:
** 1: Vormia Includes
*/
@include colorsCode();

/**
** Todo:
** 2: Layout & Position
*/
html,
body {
  font-family: "Poppins", sans-serif;
  .error-message {
    & {
      .bi-asterisk,
      .fa-asterisk {
        color: color(red);
        font-size: 10px;
      }
    }
  }

  label.required:after {
    content: "*";
    margin-left: 0.2rem;
    color: color(red);
  }

  /**
		Error
		**/
  span.error,
  p.error,
  span.error > p {
    font-size: 12px;
    font-weight: 400;
    color: color(red);
    font-style: italic;
  }
}

/**
* Todo:: Make Sticky Menu
*/
div.chld-menu {
  border-right: 1px solid color(dark-gray) !important;
  //position: sticky;
  //top: 0;
  //z-index: 999;
  background-color: color(white);
  height: 100vh;
  position: fixed;
  z-index: 90;
  width: 5%;

  // Side Logo
  div.chld-side-one {
    div.chld-logo-top {
      a {
        img {
          height: auto !important;
          width: 5% !important;
          position: fixed !important;
        }
      }
    }
  }

  // Menu
  div.chld-main-menu {
    position: fixed !important;
    z-index: 20 !important;
    background-color: color(white) !important;
    // Make the height be full height
    height: 100% !important;

    margin-left: 5%;
    width: 20%;
    ul {
      li {
        margin: 0;
        float: none;
        padding: 15px 20px 15px 0;
        width: 290px;
        word-break: break-all;
        position: initial;
        a {
          // font-family: "Roboto", sans-serif !important;
          // font-style: normal !important;
          // font-weight: 600 !important;
          // font-size: 40px !important;
          line-height: 32px !important;
          color: color(black); //#a7217b

          &:hover {
            color: color(light-blue);
          }
        }
      }

      list-style: none !important;
      position: fixed !important;
      margin-left: 2% !important;
      padding-left: 0px !important;
      top: 25vh !important;
      li {
        margin-bottom: 2%;
        a {
          font-size: 3rem !important;
        }
      }
    }
  }

  // Icon
  div.chld-side-footer {
    div.chld-nav-icon {
      // position at the bottom
      position: relative;
      z-index: 50;
      // margin-top: 30%;
      top: 90vh;
      margin-left: 20%;
      // Put it at the bottom
      i {
        font-size: 4em;
        color: color(black);
        &:hover {
          cursor: pointer !important;
        }

        &.fa-close {
          color: color(red);
        }
      }
    }
  }
}

.d-none {
  display: none;
}

/**
*Todo::Push main page to right
*/
div#body-wrap {
  width: 95% !important;
  // width: 70% !important;
  float: right !important;
  div#wrap {
    //margin-left: 5% !important;
    // Top Nav
    header {
      div.wrap-nav {
        display: none !important;
      }
    }
  }
  // div {
  //   z-index: 1 !important;
  // }

  // Mainmenu
  div.main-menu {
    ul.nav {
      &.navbar-nav {
        width: 60% !important;
      }
    }
  }
}
